@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300&display=swap');

body{
    background-color: #0c1930;
    margin: 0;
}
a{
    text-decoration: none;
}
#logo{
    width: 2vw;
    border-radius: 0.3vw;
    margin: 0.75vw 1vw;
    position: absolute;
}

.redirecciones{ 
    font-size: 1vw;
    color: #ebff05;
    margin: -5vw 0px 0px 0vw;
    position: absolute;
    background-color: #0d1c35;
    border-bottom:  0.1vw solid #101d35;
    width: 100vw;
    height: 3.5vw;  
}
#n{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 0.7vw;
    color: #ebff05;
    margin: 10vw 0 0 0;
}
#n1{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 0.7vw;
    color: #ebff05;
    margin:  10vw 0 0 70vw;
}
.r{
    font-size: 0.8vw;
    margin: 10vw 1vw 0 0;
    font-family: 'Roboto Mono', monospace;
    color: #8892b0;
}

#r1:hover{
    color: #99a3c2;
}
#r2:hover{
    color: #99a3c2;
}
#r3:hover{
    color: #99a3c2;
}

.mtop{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 2vw;
    color: #8892b0;
    margin: 5vw 0 0 35vw;
}
.center{
    font-family: sans-serif;
    color: #8892b0;
    margin: 5vw 0 0 30vw;

}
.bottom{
    margin: 0vw 0 0 47vw;
}
#result{
    color: #e2e2e2;
    background-color: #43a73c;
    font-size: 2vw;
    font-weight: bold;
    border: none;
    border-radius: 0.3vw;
    padding: 0.5vw 0 0.5vw 2vw;
    height: 3.5vw;
    width: 40vw;
}
#regenerar{
    width: 1.7vw;
    margin: 1.3vw 0 0 35vw;
    position: absolute;
}
#copiar{
    width: 2.3vw;
    margin: 1.3vw 0 0 38vw;
    position: absolute;
}
#serugoimg{
    width: 3vw;
    margin: 0vw 0 0 14vw;
}
#longitudn{
    display: inline-block;
    vertical-align: middle;
    font-family: sans-serif;
    background: #101d35;
    border: 0.1vw solid #0c1930;
    color: #fff;
    margin: 0vw 0vw 0vw -17vw;
    width: 3.5vw;
    height: 2.4vw;
    padding-top: 0.2vw;
    padding-right: 0.2vw;
    text-align: center;
    font-weight: 400;
    font-size: 2vw;
    border-radius: 0.4vw;

}
#longitud{    
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1vw;
    color: #8892b0;
    margin: 1vw 0 0 1vw;
    width: 20vw;
    height: 1vw;
    background-color: #101d35;
}
#btxt{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1vw;
    color: #8892b0;
    margin: 1vw 0 0 0vw;
}
.inputs{
    font-family: 'Source Sans Pro', sans-serif;
    color: #99a3c2;
    width: 20vw;
    font-weight: 400;
    font-size: 1.3vw;
    margin: -2.5vw 0 0 10vw;
}
#mayuscb{
    margin: 0vw 01vw 0vw 0.2vw;
    width: 1.1vw;
    height: 1.2vw;
    border-radius: 1vw;
    text-align: center;
    border-radius: 0.4vw;
}
#minuscb{
    margin: 0vw 01vw 0vw 0.2vw;
    width: 1.1vw;
    height: 1.2vw;
    border-radius: 1vw;
    text-align: center;
    border-radius: 0.4vw;
}
#numcb{
    margin: 0vw 01vw 0vw 0.2vw;
    width: 1.1vw;
    height: 1.2vw;
    border-radius: 1vw;
    text-align: center;
    border-radius: 0.4vw;
}
#especialcb{
    margin: 0vw 01vw 0vw 0.2vw;
    width: 1.1vw;
    height: 1.2vw;
    border-radius: 1vw;
    text-align: center;
    border-radius: 0.4vw;
}
#sec{
    color: #353844;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 0.7vw;
    margin: 3vw 0 0 -16vw;
}
.links{
    margin: 1vw 0 0 4vw;
}
footer{
    font-size: 1vw;
    margin: 17vw 0px 0px 0vw;
    position: absolute;
    background-color: #0a162b;
    border-bottom:  0.1vw solid #101d35;
    width: 100vw;
    height: 2.3vw;  
}
.redes{
    margin-left: 90vw;
    margin-top: 0.5vw;
}

#github{
    width: 1.2vw;
    height: 1.2vw;
    margin-right: 1vw;
    position: absolute;
}
#instagram{
    width: 1.2vw;
    height: 1.2vw;
    margin-right: 1vw;
    position: absolute;
    margin-left: 2vw;
}
#twitter{
    width: 1.2vw;
    height: 1.2vw;
    margin-right: 1vw;
    position: absolute;
    margin-left: 4vw;
}
#twitch{
    width: 1.2vw;
    height: 1.2vw;
    margin: 0vw 1vw 0 0;
    position: absolute;
    margin-left: 6vw;
}
#copy{
    color: #99a3c2;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 0.7vw;
    margin: 1vw 0 0 1vw;
    position: absolute;

}
#github:hover{
    margin-top: -0.2vw;
}
#instagram:hover{
    margin-top: -0.2vw;
}
#twitter:hover{
    margin-top: -0.2vw;
}
#twitch:hover{
    margin-top: -0.2vw;
}