@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300&display=swap');

html{
    max-width: 100%;
    max-height: 100%;
}

body{
    background-color: #0c1930;
}

.redes{
    display: flex;
    text-align: center;
    margin-top: 32.6vw;
    
}
#github{
    margin-top: 3vw;
    margin-left: 2.2vw;
    width: 0.9vw;
    height: 1vw;
    position: absolute;
    cursor: pointer;
}
#instagram{
    margin-left: 2.2vw;
    margin-top: 5.8vw;
    width: 1vw;
    height: 1vw;
    position: absolute;
    cursor: pointer;
}
#twitter{
    margin-left: 2.2vw;
    margin-top: 8.4vw;
    width: 1.1vw;
    height: 1vw;
    position: absolute;
    cursor: pointer;
}
#twitch{
    margin-left: 1.9vw;
    margin-top: 10.8vw;
    width: 1.8vw;
    height: 1.7vw;
    position: absolute;
    cursor: pointer;
}
#linea{
    margin-top: 13vw;
    margin-left: 2.6vw;
    padding-top: 3.9vw;
    border-left: 0.1vw solid white;
    color: transparent;
    position: absolute;
}
#linea2{
    margin-top: 13vw;
    margin-left: 97vw;
    padding-top: 3.9vw;
    border-left: 0.1vw solid white;
    color: transparent;
    position: absolute;
}

#github:hover{
    margin-top: 2.8vw;
}
#instagram:hover{
    margin-top: 5.6vw;
}
#twitter:hover{
    margin-top: 8.2vw;
}
#twitch:hover{
    margin-top: 10.7vw;
}

#gmail{
    float: left;
    transform: rotate(90deg);
    position: absolute;
    margin-left: 93vw;
    margin-top: 7vw;
    color: #8892b0;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.7vw;
    font-weight: bold;
    text-decoration: none;
}
#gmail:hover{
    color: #ebff05;
    margin-top: 6.8vw;
}

.aboutme{
    margin-top: 30vw;
}
#minombre{
    font-family: 'Roboto Mono', monospace;
    color: #ebff05;
    margin-top: -14vw;
    margin-left: 16.4vw;
    font-size: 0.8vw;
    font-weight:bold;
    position: absolute;
}
#nombre{
    font-family: sans-serif;
    color: #ccd6f6;
    margin-top: -12vw;
    margin-left: 16.1vw;
    font-size: 3.4vw;
    font-weight:bold;
    position: absolute;
}
#hagocosas{
    color: #8892b0;
    font-family: sans-serif;
    margin-top: -7.4vw;
    margin-left: 16vw;
    font-size: 2vw;
    font-weight:bold;
    position: absolute;
}
#boton{
    font-family: 'Roboto Mono', monospace;
    background-color: transparent;
    border: 0.1vw solid #ebff05;
    padding: 1vw 1.4vw;
    border-radius: 0.6vw;
    color: #ebff05;
    margin-left: 15.8vw;
    margin-top: -2vw;
    font-weight: bold;
    position: absolute;
    font-size: 0.8vw;
    cursor: pointer;
}
#boton:hover{
    background-color: #eaff050c;
}
n{
    margin-top: -31vw;
    margin-left: 0vw;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 0.7vw;
    color: #ebff05;
    position: absolute;

}
r{
    margin-top: -31.08vw;
    margin-left: 0vw;
    font-weight: 0.4vw;
    font-size: 0.8vw;
    font-family: 'Roboto Mono', monospace;
    color: #8892b0;
    position: absolute;
}
#n1{
    margin-left: 78vw;
}
#r1{
    margin-left: 79.6vw;

}
#n2{
    margin-left: 85vw;
}
#r2{
    margin-left: 86.5vw;
}
#n3{
    margin-left: 91.2vw;
}
#r3{
    margin-left: 92.6vw;
}

.inputs{
    position: absolute;
    background-color: #091324;
    color: #8892b0;
    border: none;
    left: 71vw;
    margin-top: -31vw;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 2vw;
    height: 1vw;
    width: 6vw;
    -moz-text-size-adjust: auto;
}
.inputs:focus{
    color: #b2b8ca;

}

a{
    text-decoration: none;

}
.logo{
    margin-top: -32vw;
    margin-left: 1.3vw;
    border-radius: 0.3vw;
    width: 2vw;
    height: 2vw;
    position: absolute;
}