@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,900&display=swap');

body {
    margin: auto;
    padding: auto;
}

.fondo{
margin: 160px;
border-radius: 80px;
padding: 20px 120px;


}
.container {
    border: 100px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

h6 {
    font-size: 0px;
    color: red;
}

h1#title {
    color: #ffff;
    font-family: 'Roboto', sans-serif;
    font-size: 125px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 45px;
    padding: 20px;
    line-height: 200px;
    width: 900px;
    margin: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.redes {
    display: grid;
    justify-content: center;
    padding-top: 50px;
}

.boton {
    font-size: 32px;
    transition: transform .9s, background ease-in .9s;

    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    border-width: 0px;
    color: azure;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
    text-decoration: none;
    display: inline-block;
    margin: 12px;
    padding: 20px 400px;
    cursor: pointer;
}

.boton:hover {
    transform: scale(1.07);
}

#cancelar:hover{
    background-color: red;
}

#chupa:hover {
    background-color: rgba(0, 247, 255, 0.4);
}



body {
    background-color: rgb(27, 27, 27);
}
